.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
  width: 100%;
  height: 102px;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 4;
  border-bottom: 1px solid #cac8c8;
  transition: top 0.5s;
}
.header-hidden {
  top: -102px;
}
.header .logo {
  width: 124px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}
.header .logo .text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Jacques Francois";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  letter-spacing: 0.155em;
}
.header .control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.header .control .clickable:hover {
  cursor: pointer;
}
.header .control .fav {
  position: absolute;
  width: 30px;
  height: 35px;
  left: 0px;
  top: 3.5px;
}
.header .control .fav:hover {
  cursor: pointer;
}
.header .control .fav:hover .icon {
  filter: none;
}
.header .control .fav .icon {
  position: absolute;
  width: 180%;
  height: 144%;
  right: -10px;
  top: -7px;
  filter: hue-rotate(360deg) saturate(100%) brightness(200%);
}
.header .control .fav .number {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 15px;
  top: 25px;
}
.header .control .fav .number .eclispe {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #8447FA;
}
.header .control .fav .number .digit {
  /* 2 */
  position: absolute;
  left: 32%;
  top: 9%;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.155em;
}
.header .control .account {
  background: #FFFFFF;
  position: absolute;
  right: 38px;
  top: 79px;
  width: 221px;
  border: 1px solid #B0B0B0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  z-index: 2;
}
.header .control .account .user-top-info {
  height: 60px;
}
.header .control .account .user-top-info .avatar {
  position: absolute;
  left: 17px;
  top: 10px;
}
.header .control .account .user-top-info .name {
  position: absolute;
  width: 64px;
  height: 15px;
  left: 77px;
  top: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgb(47, 47, 47);
}
.header .control .account .user-top-info .occup {
  /* Author, redactor */
  position: relative;
  width: 93px;
  height: 15px;
  left: 77px;
  top: 34px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgb(47, 47, 47);
}
.header .control .account .menu-elems {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header .control .account .menu-elems a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
.header .control .account .menu-elems .elem {
  width: 100%;
  height: 32px;
  background: #FFFFFF;
  border-top: 1px solid #D9D9D9;
  position: relative;
}
.header .control .account .menu-elems .elem-logout:hover {
  cursor: pointer;
  background: #ededed;
}
.header .control .account .menu-elems .elem .logo {
  /* Vector */
  position: absolute;
  left: 12px;
  top: 4px;
  width: 28px;
  height: 25px;
}
.header .control .account .menu-elems .elem .text {
  /* Show metions */
  position: absolute;
  height: 15px;
  left: 53px;
  top: 9px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgb(47, 47, 47);
}
.header .control .account .menu-elems .elem .number {
  /* Group 5 */
  position: absolute;
  height: 18px;
  left: 188px;
  top: 7px;
  padding: 3px 7px;
  background: #8447FA;
  border-radius: 50%;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgb(47, 47, 47);
}
.header .control .account .menu-elems .elem .number:hover {
  cursor: pointer;
}
.header .control .login-frame {
  box-sizing: border-box;
  position: absolute;
  width: 314px;
  right: 44px;
  top: 85px;
  background: #FFFFFF;
  border: 1px solid #B0B0B0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  min-height: 291px;
}
.header .control .login-frame form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.header .control .login-frame input:focus {
  outline: 1px solid rgb(221, 221, 221); /* adjust the value to change the width and color of the outline */
}
.header .control .login-frame input {
  padding-left: 10px;
}
.header .control .login-frame .login {
  height: 32px;
  background: #F9F9F9;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.header .control .login-frame .password {
  height: 32px;
  background: #F9F9F9;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.header .control .login-frame button.button-login {
  height: 32px;
  border-radius: 5px;
  color: white;
  /* My blue */
  background: #8447FA;
}
.header .control .login-frame button.button-login:hover {
  cursor: pointer;
}
.header .control .login-frame a {
  text-decoration: none;
}
.header .control .login-frame a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header .control .login-frame .DontHaveAccFrame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .control .login-frame .DontHaveAccFrame .left-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.header .control .login-frame .DontHaveAccFrame .left-text-clickable {
  color: rgb(65, 148, 243);
}
.header .control .login-frame .DontHaveAccFrame .left-text-clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header .control .login-frame .DontHaveAccFrame a.right-text {
  /* Register */
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #8447FA;
}
.header .control .login-frame .ForgetPassFrame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .control .login-frame .ForgetPassFrame .left-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.header .control .login-frame .ForgetPassFrame .left-text-clickable {
  color: rgb(65, 148, 243);
}
.header .control .login-frame .ForgetPassFrame .left-text-clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}
.header .control .login-frame .ForgetPassFrame a.right-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #8447FA;
}
.header .control .login-frame .Error {
  color: red;
  text-align: center;
}

.anouncment {
  /* Frame 2 */
  position: relative;
  margin-top: 102px;
  width: 100%;
  height: 399px;
  background: linear-gradient(264.87deg, #C1C1C1 24.22%, #EDF1F4 81.04%);
}
.anouncment .title {
  /* Time to get your house clean and in order */
  position: absolute;
  width: 414px;
  height: 104px;
  left: 48px;
  top: 95px;
  line-height: 52px;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: rgb(47, 47, 47);
}
@media (max-width: 462px) {
  .anouncment .title {
    width: 304px;
    top: 34px;
  }
}
.anouncment .subtitle {
  /* Practical advices how to make your home a place you want to be */
  position: absolute;
  width: 400px;
  height: 18px;
  left: 48px;
  top: 233px;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #5b5b5b;
}
@media (max-width: 462px) {
  .anouncment .subtitle {
    width: 290px;
    top: 214px;
  }
}
.anouncment .read {
  /* button */
  position: absolute;
  width: 150px;
  height: 41px;
  left: 48px;
  top: 285px;
  /* My blue */
}
.anouncment .image {
  /* image 1 */
  position: absolute;
  width: 647px;
  height: 398px;
  right: 0;
  top: 1px;
  background: url(../assets/img/image-ann.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1110px) {
  .anouncment .image {
    width: 483px;
  }
}
@media (max-width: 950px) {
  .anouncment .image {
    display: none;
  }
}

.search {
  /* Frame 7 */
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 40px 45px;
  border: 1px solid #B0B0B0;
  border-radius: 0px 0px 10px 10px;
}
.search .inputs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
  justify-items: center;
  gap: 20px;
  align-items: center;
}
.search .inputs input:focus {
  outline: 1px solid rgb(221, 221, 221); /* adjust the value to change the width and color of the outline */
}
.search .inputs input, .search .inputs div {
  align-items: center;
  font-size: 13px;
  width: 100%;
}
.search .inputs div.search-input {
  cursor: pointer;
}
.search .inputs .search-input-wrapper {
  position: relative;
}
.search .inputs .search-input-wrapper .popup-sort {
  position: absolute;
  top: 33px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  border: 1px solid #D9D9D9;
}
.search .inputs .search-input-wrapper .popup-sort-hidden {
  display: none;
}
.search .inputs .search-input-wrapper .popup-sort .item {
  width: 100%;
  padding: 7px 15px;
  background: #FFFFFF;
  border-top: 1px solid #D9D9D9;
}
.search .inputs .search-input-wrapper .popup-sort .item-choosed {
  background: #dedede;
}
.search .inputs .search-input-wrapper .popup-sort .item:hover {
  cursor: pointer;
  background: #dedede;
}
.search .inputs .search-input {
  width: 100%;
  height: 32px;
  background: #F9F9F9;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
  padding: 11px;
}
.search .inputs .search-input .arrow {
  position: absolute;
  top: 0px;
  right: 3px;
  width: 23px;
  height: 100%;
}
.search .inputs button.search-button {
  cursor: pointer;
  width: 100%;
  height: 32px;
  background: #8447FA;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgb(47, 47, 47);
}
.search .inputs .choose {
  width: 100%;
  height: 32px;
  padding-left: 10px;
}
@media (max-width: 1310px) {
  .search .inputs {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .search .inputs {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .search .inputs .search-input:nth-of-type(3) {
    grid-column: 1/3;
    grid-row: 2;
  }
}
@media (max-width: 600px) {
  .search .inputs {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .search .inputs .search-input:nth-of-type(3) {
    grid-column: 1;
    grid-row: auto;
  }
}

.author {
  width: 100%;
  height: 62px;
  /* My grey */
  border: 1px solid #B0B0B0;
  border-radius: 5px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 11px;
  gap: 16px;
}
.author-image {
  width: 40px;
  height: 39px;
  border-radius: 50%;
  border: 1px solid rgb(233, 233, 233);
}
.author-box {
  flex-grow: 1;
  height: 39.23px;
}
.author-box .name {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #000000;
}
.author-box .date {
  position: relative;
  top: 9px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #000000;
}

.context {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
}
.context .notes-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgb(47, 47, 47);
  justify-content: center;
  display: flex;
  padding: 20px 0;
}
.context [role=navigation] {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding: 40px 0;
  color: white;
}
.context [role=navigation] li a {
  border: 1px solid rgb(226, 226, 226);
  padding: 5px 12px;
  padding-bottom: 8px;
  text-align: center;
  border-radius: 10px;
  background-color: #8c9ae8;
}
.context [role=navigation] li a:hover {
  cursor: pointer;
  background-color: #a5aee2;
}
.context [role=navigation] li.selected a {
  border: 3px solid rgb(226, 226, 226);
}
.context [role=navigation] li.disabled a {
  background-color: #cbcbcb;
}
.context .row-articles {
  /* Component 7 */
  /* Auto layout */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  justify-items: center;
  row-gap: 10px;
  padding: 10px 0;
  width: 100%;
}
.context .row-articles .no-fav {
  grid-column: 1/-1;
  font-size: 26px;
  padding: 40px 0;
  width: 80%;
  max-width: 331px;
  text-align: center;
}
@media (max-width: 1310px) {
  .context .row-articles {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .context .row-articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .context .row-articles {
    grid-template-columns: repeat(1, 1fr);
  }
}
.context .row-articles .article-cart {
  width: 283px;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;
  position: relative;
}
.context .row-articles .article-cart-skeleton {
  padding: 0px;
}
.context .row-articles .article-cart a {
  color: red;
  position: relative;
}
.context .row-articles .article-cart a .image-zone:hover {
  border: 1px solid rgb(224, 224, 224);
}
.context .row-articles .article-cart a .author-image:hover {
  border: 1px solid rgb(156, 199, 249);
}
.context .row-articles .article-cart a:hover {
  text-decoration: underline;
}
.context .row-articles .article-cart .addfav {
  position: absolute;
  background-color: #e1e1e1;
  left: 168px;
  top: 22px;
  z-index: 2;
  border-radius: 10px;
}
.context .row-articles .article-cart .image-zone {
  width: 100%;
  height: 190px;
  /* My grey */
  border: 2px solid #B0B0B0;
  border-radius: 10px;
}
.context .row-articles .article-cart .title {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: rgb(47, 47, 47);
}
.context .row-articles .article-cart .subtitle {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #b0b0b0;
}
.context .pagination-block {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 40px;
}
.context .pagination-block .page {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgb(47, 47, 47);
  background: #8447FA;
  padding: 5px 10px;
  border-radius: 50%;
}
.context .pagination-block .page:hover {
  background: #9b6ff4;
}

.single-article-content {
  /* Frame 30 */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 100%;
}
.single-article-content .single-article-info {
  /* Frame 18 */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  gap: 42px;
  position: relative;
  width: 100%;
}
.single-article-content .single-article-info .title {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: rgb(47, 47, 47);
}
.single-article-content .single-article-info .subtitle {
  max-width: 670px;
  height: 36px;
  text-align: center;
  width: 90%;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #b0b0b0;
}
.single-article-content .single-article-info .author {
  width: auto;
}
.single-article-content .single-article-pic {
  position: relative;
  width: 54%;
  max-width: 1300px;
  border: 1px solid #B0B0B0;
  border-radius: 10px;
  height: 300px;
}
@media (max-width: 900px) {
  .single-article-content .single-article-pic {
    width: 74%;
  }
}
.single-article-content .single-article-text {
  /* Group 18 */
  width: 90%;
  max-width: 1300px;
}
.single-article-content .single-article-text .title {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgb(47, 47, 47);
}
.single-article-content .single-article-text p {
  margin: 20px 0;
  line-height: 24px;
  text-indent: 20px;
}
.single-article-content .single-article-text p.text {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgb(47, 47, 47);
}

.comment-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  flex-direction: column;
}
.comment-section .comment-block {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 45px;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
  justify-content: center;
  max-width: 1300px;
}
.comment-section .comment-block .top-section {
  /* Frame 32 */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 90%;
}
@media (max-width: 530px) {
  .comment-section .comment-block .top-section {
    flex-direction: column;
    gap: 14px;
  }
}
.comment-section .comment-block .top-section .comment {
  height: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: rgb(47, 47, 47);
}
.comment-section .comment-block .top-section .buttons {
  /* Group 19 */
  height: 32px;
  background-color: lightpink;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.comment-section .comment-block .top-section .buttons > * {
  padding: 5px 30px;
  display: flex;
  align-items: center;
}
.comment-section .comment-block .top-section .buttons .left {
  background: #ffffff;
  /* My grey */
  border: 1px solid #B0B0B0;
  border-radius: 10px 0px 0px 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgb(47, 47, 47);
}
.comment-section .comment-block .top-section .buttons .left:hover {
  cursor: pointer;
  background: #DFDFDF;
}
.comment-section .comment-block .top-section .buttons .right {
  background: #FFFFFF;
  /* My grey */
  border: 1px solid #B0B0B0;
  border-radius: 0px 10px 10px 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgb(47, 47, 47);
}
.comment-section .comment-block .top-section .buttons .right:hover {
  cursor: pointer;
  background: #DFDFDF;
}
.comment-section .comment-block .top-section .buttons .active {
  background: #DFDFDF;
}
.comment-section .comment-block .text-area {
  width: 90%;
  height: 301px;
  background: #ffffff;
  border: 1px solid #B0B0B0;
  border-radius: 20px;
  padding: 13px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comment-section .comment-block .text-area:focus-within {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}
.comment-section .comment-block .text-area .control-comment {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  height: 37px;
  margin: 10px 0;
}
.comment-section .comment-block .text-area .control-comment .font-settings {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 13px;
}
.comment-section .comment-block .text-area .control-comment .font-settings button.font-button {
  padding: 3px 15px;
}
.comment-section .comment-block .text-area .control-comment .font-settings button.font-button:hover {
  cursor: pointer;
  background-color: rgb(187, 187, 187);
  border-radius: 10px;
  color: white;
}
.comment-section .comment-block .text-area .control-comment button.send-button {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgb(47, 47, 47);
  background: #8447FA;
  border-radius: 10px;
  padding: 0 30px;
  text-align: center;
}
.comment-section .comment-block .text-area .control-comment button.send-button:hover {
  cursor: pointer;
  background: #7e55d1;
}
.comment-section .comments-history {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
  gap: 31px;
  width: 90%;
  max-width: 1170px;
}
.comment-section .comments-history .comment {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.comment-section .comments-history .comment-reply {
  padding-left: 60px;
}
.comment-section .comments-history .comment .author-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid black;
  padding-top: 14px;
}
.comment-section .comments-history .comment .author-info .eclispe-menu-wrapper {
  position: relative;
}
.comment-section .comments-history .comment .author-info .popup-users {
  position: absolute;
  left: -202px;
  top: 4px;
  width: 200px;
  height: 90px;
}
.comment-section .comments-history .comment .author-info .popup-users .user {
  width: 100%;
  padding-left: 0px;
}
.comment-section .comments-history .comment .author-info .ellipse-menu {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: relative;
  padding: 20px 0;
  /* styles for the children */
}
.comment-section .comments-history .comment .author-info .ellipse-menu:hover {
  cursor: pointer;
}
.comment-section .comments-history .comment .author-info .ellipse-menu:hover > div.ellipse {
  background: red;
}
.comment-section .comments-history .comment .author-info .ellipse-menu div.ellipse {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #D9D9D9;
}
.comment-section .comments-history .comment .text {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgb(47, 47, 47);
}
.comment-section .comments-history .comment .controlpanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
  padding: 0px;
  gap: 56px;
}
.comment-section .comments-history .comment .controlpanel-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
  padding: 0px;
  gap: 56px;
}
.comment-section .comments-history .comment .controlpanel-post .buttons-reaction {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
@media (max-width: 580px) {
  .comment-section .comments-history .comment .controlpanel {
    display: grid;
    gap: 15px 5px;
    grid-template-columns: 160px auto;
  }
}
.comment-section .comments-history .comment .controlpanel .buttons-reaction {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.comment-section .comments-history .comment .controlpanel .reply-button {
  width: 53px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgb(47, 47, 47);
}
.comment-section .comments-history .comment .controlpanel .reply-button:hover {
  cursor: pointer;
  color: #cecece;
}
.comment-section .comments-history .comment .controlpanel .hours-ago {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #b0b0b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.7;
}
#preloader img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

button {
  /* or */
  all: unset;
  text-align: center;
}

.restore-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
  width: min(400px, 90%);
}

.font {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgb(47, 47, 47);
}
.font-bold {
  font-weight: 700;
}
.font-italic {
  font-style: italic;
}
.font-underline {
  text-decoration-line: underline;
}

.user {
  height: 51px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
}
.user:hover {
  cursor: pointer;
  background: #F9F9F9;
}
.user p {
  height: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgb(47, 47, 47);
  text-align: center;
  padding: 0 20px;
  line-height: 24px;
}/*# sourceMappingURL=style.css.map */