*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#preloader{
    // background-image: url("#{$public-url}/images/your-image.gif");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.7;

    img{
        // background-color: green;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}



a {
    text-decoration: none;
}

$color-left-reg-menu: #000000;
$color-right-reg-menu: #8447FA;
$font-common : 'Inter';

$search-width : 220px;


@mixin absolute-width-height($width, $height){
    position: absolute;
    width: $width;
    height: $height;
}

@mixin text-style($color, $font: $font-common) {
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $color;
}


$breakpoints: (1310px, 900px, 600px);

button {
    // all: initial;
    /* or */
    all: unset;
    text-align: center;
  }



//   #header{
    
//   }

  .header{
    /* header */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;


    width: 100%;
    height: 102px;

    background: #FFFFFF;

    position: fixed;
    top: 0;
    z-index: 4;
    border-bottom: 1px solid #cac8c8;
    transition: top 0.5s;


    &-hidden{
        top : -102px;
    }
    

    .logo{
        /* logo */
        width: 124px;
        height: 32px;

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        position: relative;

        .text{
            /* AwesomeBlog */
            @include absolute-width-height(100%, 100%);
            @include text-style(#000000, 'Jacques Francois');
            letter-spacing: 0.155em;
        }


    }

    .control{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 25px;

        .clickable{
            &:hover{
                cursor: pointer;
            }

        }
        

        .fav{
            /* fav */
            @include absolute-width-height(30px, 35px);
            left: 0px;
            top: 3.5px;

            &:hover{
                cursor: pointer;
                .icon{
                filter: none;
                }
            }
            

            .icon{
                /* Vector */
                @include absolute-width-height(180%, 144%);
                right: -10px;
                top: -7px;

                /* My grey */
                filter: hue-rotate(360deg) saturate(100%) brightness(200%);

                

            }

            .number{
                /* Group 1 */
                @include absolute-width-height(16px, 16px);
                left: 15px;
                top: 25px;

                .eclispe{
                    @include absolute-width-height(100%, 100%);
                    border-radius: 50%;
                    background: #8447FA;
                }
                
                .digit{
                    /* 2 */
                    position:absolute;
                    left: 32%;
                    top: 9%;

                    font-family: 'Jacques Francois';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    /* identical to box height */

                    letter-spacing: 0.155em;

                    color: #FFFFFF;
                }



            }


        }


        .account{
            background: #FFFFFF;
            position: absolute;
            right: 38px;
            top: 79px;
            width: 221px;
            border: 1px solid #B0B0B0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            z-index: 2;

            .user-top-info
            {
                height: 60px;
                .avatar{
                    position: absolute;
                    left: 17px;
                    top: 10px;
    
                }
    
                .name{
                    position: absolute;
                    width: 64px;
                    height: 15px;
                    left: 77px;
                    top: 10px;
    
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    /* identical to box height */
    
    
                    color: #000000;
                }
    
                .occup{
                /* Author, redactor */
    
                position: relative;
                width: 93px;
                height: 15px;
                left: 77px;
                top: 34px;
    
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                /* identical to box height */
    
    
                /* My grey */
    
                color: #B0B0B0; 
                }


            }
            


            .menu-elems{
                /* Auto layout */
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;

                width: 100%;

                display: flex;
                flex-direction: column;

                // a{
                //     width: 100%;
                //     .elem:hover{
                //         cursor: pointer;
                //         background: #ededed;
                //     }
                // }

                a {
                    text-decoration: none;
                    color: inherit;
                    width: 100%;
                    // cursor: default;
                  }


                .elem{
                    width: 100%;
                    height: 32px;

                    background: #FFFFFF;
                    border-top: 1px solid #D9D9D9;
                    // border-bottom: 1px solid #D9D9D9;
                    position: relative;

                    &-logout:hover{
                        cursor: pointer;
                        background: #ededed;
                    }

                    .logo{
                        /* Vector */
                        position: absolute;
                        left: 12px;
                        top: 4px;
                        // border: 2px solid #B0B0B0;
                        width: 28px;
                        height: 25px;
                    }


                    .text{
                        /* Show metions */


                        position: absolute;
                        // width: 63px;
                        height: 15px;
                        left: 53px;
                        top: 9px;

                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                        /* identical to box height */


                        color: #000000;
                    }

                    .number{
                        /* Group 5 */

                        position: absolute;
                        height: 18px;
                        left: 188px;
                        top: 7px;
                        padding: 3px 7px;

                        background: #8447FA;
                        border-radius: 50%;

                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;

                        color: #FFFFFF;

                        &:hover{
                            cursor: pointer;
                        }
                    


                    }



                }

            }



        }



        .login-frame{
            box-sizing: border-box;
            position: absolute;
            width: 314px;
            right: 44px;
            top: 85px;
            background: #FFFFFF;
            border: 1px solid #B0B0B0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            z-index: 2;

            display: flex;
            flex-direction: column;

            gap: 20px;
            padding: 30px 20px;
            min-height: 291px;
            // justify-content: space-between;

            // opacity: 0;
            // transition: opacity 4.5s;
            

            // &-open{
            //     opacity: 1;
            // }



            form{
                display: flex;
                flex-direction: column;
                gap: 22px;
            }

            input:focus {
                outline: 1px solid rgb(221, 221, 221); /* adjust the value to change the width and color of the outline */
              }

            input{
                padding-left: 10px;
            }
              

            .login{
                height: 32px;
                background: #F9F9F9;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 5px;

            }


            .password{
            height: 32px;
            background: #F9F9F9;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            }

            button.button-login{
           
                height: 32px;
     
                border-radius: 5px;
                color: white;
                

                /* My blue */

                background: #8447FA;

                &:hover{
                    cursor: pointer;
                }
            }


            

            a{
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

      

            // * Dont have account sector
            .DontHaveAccFrame{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .left-text{


                    @include text-style($color-left-reg-menu);

                    &-clickable{

                        color :rgb(65, 148, 243);
                        &:hover{
                            cursor: pointer;
                            text-decoration: underline;
                        }

                    }
                    
                    
                }

                a.right-text{
                    /* Register */


                    @include text-style($color-right-reg-menu);                        
                }

            }

            // * Forget password sector
            .ForgetPassFrame{

                display: flex;
                flex-direction: row;
                justify-content: space-between;
 


                .left-text{
                    &-clickable{

                        color :rgb(65, 148, 243);
                        &:hover{
                            cursor: pointer;
                            text-decoration: underline;
                        }

                    }
      

                    @include text-style($color-left-reg-menu);  

                }


                a.right-text{
        

                    @include text-style($color-right-reg-menu);  
                }
            }

            .Error{
                color: red;
                text-align: center;
            }



        }






    }

}




.anouncment{
    /* Frame 2 */


    position: relative;
    margin-top: 102px;

    width: 100%;
    height: 399px;


    background: linear-gradient(264.87deg, #C1C1C1 24.22%, #EDF1F4 81.04%);


    .title{
        /* Time to get your house clean and in order */
        position: absolute;
        width: 414px;
        height: 104px;
        left: 48px;
        top: 95px;

        font-family: 'Sarabun';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;

        color: #000000;

        @media (max-width: 462px) {
            & {
                width: 304px;
                top: 34px;
            }
        }


    }

    .subtitle{
        /* Practical advices how to make your home a place you want to be */


        position: absolute;
        width: 400px;
        height: 18px;
        left: 48px;
        top: 233px;

        /* little text */

        font-family: 'Sarabun';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;

        /* My grey */

        color: #5B5B5B;


        @media (max-width: 462px) {
            & {
                width: 290px;
                top: 214px;
            }
        }

    }

    .read{
        /* button */


        position: absolute;
        width: 150px;
        height: 41px;
        left: 48px;
        top: 285px;

        /* My blue */

        // background: #8447FA;
        // border-radius: 5px;
        // color: white;
        // border: none;
        // cursor: pointer;
    }

    .image{
        /* image 1 */

        // 1110 px - disappear

        @media (max-width: 1110px) {
            & {
                width: 483px;
            }
        }

        @media (max-width: 950px) {
            & {
                display: none;
            }
        }

        

        position: absolute;
        width: 647px;
        height: 398px;
        right: 0;
        top: 1px;

        background: url(../assets/img/image-ann.png);
        background-size: cover;
        background-repeat: no-repeat;
            }

}



.restore-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
    width: min(400px,90%);
}




.search{
    /* Frame 7 */
    box-sizing: border-box;

    position: relative;
    width: 100%;
    padding: 40px 45px;

    border: 1px solid #B0B0B0;
    border-radius: 0px 0px 10px 10px;




    .inputs{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-around;
        justify-items: center;
        gap: 20px;
        align-items: center;



        input:focus {
            outline: 1px solid rgb(221, 221, 221); /* adjust the value to change the width and color of the outline */
          }

        input, div{
            align-items: center;
            font-size: 13px;
            width: 100%;
        }

        div.search-input{
            cursor: pointer;
        }
        

        
        .search-input-wrapper{
            position: relative;

            .popup-sort{
                position: absolute;
                top: 33px;
                left: 0px;
                width: 100%;
                display: flex;
                flex-direction: column;
                z-index: 2;
                border: 1px solid #D9D9D9;

                &-hidden{
                    display: none;
                }

                .item{
                    width: 100%;
                    padding: 7px 15px;
                    background: #FFFFFF;
                    border-top: 1px solid #D9D9D9;

                    &-choosed{
                        background: #dedede;
                    }

                    &:hover{
                        cursor: pointer;
                        background: #dedede;
                    }
                }

                


            }

        }

        .search-input{
            width: 100%;
            height: 32px;
            background: #F9F9F9;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            position: relative;

            padding: 11px;


            .arrow{
                position: absolute;
                top:0px;
                right: 3px;
                width: 23px;
                height: 100%;
            }



        }


        button.search-button{
            cursor: pointer;
    
            width: 100%;
            height: 32px;
    
            background: #8447FA;
            border-radius: 5px;
    
            font-family: 'Sarabun';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
    
            color: #FFFFFF;
        }

        .choose{
            width: 100%;
            height: 32px;
            padding-left: 10px;
        }

    }
    
    @media (max-width: nth($breakpoints, 1)) {
        & {
            .inputs{
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }



    @media (max-width: nth($breakpoints, 2)) {
        & {
            .inputs{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;

            .search-input:nth-of-type(3){
                grid-column: 1 / 3;
                grid-row: 2;
                
                }
            }    
        }
    }


    @media (max-width: nth($breakpoints, 3)) {
        & {
            .inputs{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;

                .search-input:nth-of-type(3){
                    grid-column: 1;
                    grid-row: auto;
                }
            }
        }    
    }

    

    


}



// code for author block (pic, name, occupation)
.author{
    width: 100%;
    height: 62px;

    /* My grey */
    border: 1px solid #B0B0B0;
    border-radius: 5px;


    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px;
    gap: 16px;

    &-image{
        width: 40px;
        height: 39px;
        border-radius: 50%;
        border: 1px solid rgb(233, 233, 233);
    }

    &-box{
        flex-grow: 1;
        height: 39.23px;

        .name{
            font-family: 'Inter';
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */
            color: #000000;
        }

        .date{
            position: relative;
            top: 9px;

            font-family: 'Inter';
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */


            color: #000000;
        }

    }

}




.context{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;

    .notes-title{
        font-family: "Jacques Francois";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        justify-content: center;
        display: flex;
        padding: 20px 0;
    }



    .row-articles{
        /* Component 7 */


        .no-fav{
            grid-column: 1 / -1;
            font-size: 26px;
            padding: 40px 0;
            width: 80%;
            max-width: 331px;
            text-align: center;
        }
        
    
        /* Auto layout */

        @media (max-width: nth($breakpoints, 1)) {
            &{
                grid-template-columns: repeat(3, 1fr);
            }

        }

        @media (max-width: nth($breakpoints, 2)) {
            &{
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (max-width: nth($breakpoints, 3)) {
            &{
                grid-template-columns: repeat(1, 1fr);
            }

        }


    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: start;
        justify-items: center;
        row-gap: 10px;
        padding: 10px 0;
        width: 100%;
        

        .article-cart{
            width: 283px;
            // width: 20%;
            // height: 449px;
            border: 1px solid #000000;
            border-radius: 10px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            gap: 15px;

            position: relative;


            &-skeleton{
                padding: 0px;
            }

            a{
                color: red;
                position: relative;

                & .image-zone:hover{
                    border: 1px solid rgb(224, 224, 224);
                }

                & .author-image:hover{
                    border: 1px solid rgb(156, 199, 249);
                }

            }

            a:hover{
                text-decoration: underline;
            }


            .addfav{
                position: absolute;
                background-color: #e1e1e1;
                left: 168px;
                top: 22px;
                z-index: 2;
                border-radius: 10px;
              }

            .image-zone{
                width: 100%;
                height: 190px;

                /* My grey */

                border: 2px solid #B0B0B0;
                border-radius: 10px;




            }


            .title{
                width: 100%;
                font-family: "Inder";
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                color: #000000;
            }

            .subtitle{
                width: 100%;
                font-family: "Sarabun";
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                color: #B0B0B0;
            }


        }

    
    }

    .pagination-block{
        width: 100%;
        height: 32px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;

        padding: 40px;

        .page{
            /* little text */

            font-family: 'Sarabun';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;

            color: #FFFFFF;

            background: #8447FA;

            padding: 5px 10px;
            border-radius: 50%;

            &:hover{
                background: #9b6ff4;
            }

        }

    }

}


.single-article-content{
    /* Frame 30 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 100%;



    .single-article-info{
        /* Frame 18 */
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
        gap: 42px;
    
        position: relative;
        width: 100%;
        
     
    
    
        .title{
            /* Here is our super awesome title */
    
            font-family: 'Inder';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 50px;
            text-align: center;

    
            color: #000000;
        }
    
        .subtitle{    
            max-width: 670px;
            height: 36px;
            font-family: "Sarabun";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #B0B0B0;
            width: 90%;
        }
    
        .author{
            width: auto;
        }
    
    }

    .single-article-pic{
        position: relative;
        width: 54%;
        max-width: 1300px;
        border: 1px solid #B0B0B0;
        border-radius: 10px;
        height: 300px;

        @media (max-width: 900px) {
            & {
                width: 74%;
            }
        }
        
    }

    .single-article-text{
        /* Group 18 */
        width: 90%;
        max-width: 1300px;



        .title{
            /* Here is our super awesome title */
            font-family: 'Inder';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 75px;
            /* identical to box height */


            color: #000000;
        }

        p {
            margin: 20px 0;

            &.text{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                text-indent: 20px;
    
                color: #000000;
            }

            
          }

        

    }

}






.font{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    

    &-bold{
        font-weight: 700;
    }

    &-italic{
        font-style: italic;
    }

    &-underline{
        text-decoration-line: underline;
    }
}



.user{
    height: 51px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    // width: 100%;



    &:hover{
        cursor: pointer;
        background: #F9F9F9;
    }

    p{
        height: 24px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;

        color: #000000;

        text-align: center;
        padding: 0 20px;
    }

}



// .popup-users{
//     /* Auto layout */

//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: flex-start;
//     padding: 15px 10px;
//     gap: 7px;

//     position: absolute;
//     left: 249px;
//     top: 64px;

//     background: #FFFFFF;
//     box-shadow: 0px 0px 9px 9px rgba(0, 0, 0, 0.25);
//     border-radius: 10px;

// }




.comment-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    flex-direction: column;

    

    
    .comment-block{
        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 45px;

        position: relative;
        width: 100%;
        left: 0px;
        top: 0px;

        justify-content: center;

        max-width: 1300px;


        



        .top-section{
            /* Frame 32 */

            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            width: 90%;


            @media (max-width: 530px) {
                & {
                    flex-direction: column;
                    gap: 14px;
                }
            }





            

            .comment{
                /* Comments */


                height: 50px;

                font-family: 'Inder';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 50px;
                /* identical to box height */


                color: #000000;

                

            }

            .buttons{
                /* Group 19 */


                // width: 158px;
                height: 32px;
                background-color: lightpink;
                border-radius: 10px;

                display: flex;
                flex-direction: row;

                & > *{
                    padding: 5px 30px;
                    display: flex;
                    align-items: center;   
                }

                

                // & > *:hover {
                //     background: green;
                //     border: 4px solid black;
                // }


                
                .left{

                    &:hover{
                        cursor: pointer;
                        background: #DFDFDF;
                    }
                    

                    background: #ffffff;
                    /* My grey */

                    border: 1px solid #B0B0B0;
                    border-radius: 10px 0px 0px 10px;

                    font-family: 'Inder';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    /* identical to box height */


                    color: #000000;
                }


                .right{

                    &:hover{
                        cursor: pointer;
                        background: #DFDFDF;
                    }
                    

                    background: #FFFFFF;
                    /* My grey */

                    border: 1px solid #B0B0B0;
                    border-radius: 0px 10px 10px 0px;

                    font-family: 'Inder';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    /* identical to box height */

                    


                    color: #000000;
                }

                .active{
                    background: #DFDFDF;
                }




            }


        }

        .text-area{

            width: 90%;
            height: 301px;
            background: #ffffff;
            border: 1px solid #B0B0B0;
            border-radius: 20px;
            padding: 13px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:focus-within {
                box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
            }

            
            .control-comment{
                /* Auto layout */

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0px;
                // gap: 985px;

                height: 37px;
                margin: 10px 0;


                .font-settings{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 13px;

                    button.font-button{
                        padding: 3px 15px;

                        &:hover {
                            cursor: pointer;
                            background-color: rgb(187, 187, 187);
                            border-radius: 10px;
                            color: white;
                        }
                    }

                    



                }


                button.send-button{
                    height: 100%;
                    display: flex;
                    align-items: center;

                    font-family: 'Inder';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    /* identical to box height */

                    color: #FFFFFF;

                    background: #8447FA;
                    border-radius: 10px;

                    // height: 100%;
                    padding: 0 30px;
                    text-align: center;

                    &:hover{
                        cursor: pointer;
                        background: #7e55d1;
                    }


                }


            }
            

            
        }
    }


    .comments-history{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
        gap: 31px;
        width: 90%;
        max-width: 1170px;

            

            .comment{
                width: 100%;
                background-color: white;
                display: flex;
                flex-direction: column;
                gap: 22px;

                &-reply{
                    padding-left: 60px;
                }

                .author-info{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    border-top: 1px solid black;
                    padding-top: 14px;

                    .eclispe-menu-wrapper{
                        position: relative;
                    }


                    .popup-users{
                        position: absolute;
                        left: -202px;
                        top: 4px;
                        width: 200px;
                        height: 90px;

                        .user{
                            width: 100%;
                            padding-left: 0px;
                        }
                    }

                    

                    .ellipse-menu{
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        position: relative;
                        padding: 20px 0;

                        
                        /* styles for the children */
                        &:hover {
                            cursor:pointer;
                            & > div.ellipse {
                                background: red;

                            }
                        }
                                            


                        div.ellipse{
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background: #D9D9D9;
                        }

                        

                    }


                    

                }


                .text{
                    width: 100%;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 140%;
                    /* or 28px */


                    color: #000000;

                }

                .controlpanel{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    vertical-align: center;
                    padding: 0px;
                    gap: 56px;


                    &-post{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        vertical-align: center;
                        padding: 0px;
                        gap: 56px;

                        .buttons-reaction{

                            display: flex;
                            flex-direction: row;
                            gap: 15px;
    
                        }
                    }

                    

                    @media (max-width: 580px) {
                        & {
                            display: grid;
                            gap : 15px 5px;
                            grid-template-columns: 160px auto;
                        }


                    }



                    // height: 200px;


                    .buttons-reaction{

                        display: flex;
                        flex-direction: row;
                        gap: 15px;

                    }

                    .reply-button{
                        width: 53px;

                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 140%;
                        text-align: center;
                        color: #000000;

                        &:hover{
                            cursor: pointer;
                            color: #cecece;
                        }
                    }


                    .hours-ago{
                        height: 28px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 140%;
                        /* identical to box height, or 28px */
                        /* My grey */
                        color: #B0B0B0;
                    }



                }



                



            }

        


        

    }


}












